body {
    background-color: rgb(221, 221, 240);
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 14px;
}
h3, h2 {
    color: rgb(226, 55, 43)
; border: 3px; darkblue;
}

.name {
    color: crimson;
    font-weight: bold;
    
}

h1, h3
{
    border: 2px blue dashed;
}
ul {
    list-style-type: none;
    text-align: justify;}

section{
  column-count: 3;
  column-gap: 20px;
}  